.vscode/**
.vscode-test/**
.vscode-test.*
src/**
.alpackages/**
.snapshots/**
.git/**
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
node_modules/**
out/test/**
out/al/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
*.vsix
package-lock.json
logo.png